*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background: #000;
}


.form-inputes input{
    padding: 14px 16px;
    width: 300px;
    border-radius: 12px;
    margin-bottom: 20px;
    border: 0.5px solid #393646;
    font-size: 16px;
  
}


.content-form{
    box-shadow: 1px 2px 3px 0;
    top: 45%;
    right: 50%;
    transform: translateX(50%) translateY(-50%);
    background: #393646;
    position: absolute;

    padding: 50px 2%; 
    border-radius: 10px;
}


form h2{
    text-align: center;
    margin-bottom: 25px;
    margin-top: -15px;
    color: white;

}

form{
    text-align: center;
}


.btn{
    padding: 10px 14px;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    border-radius: 4px;
    background: cyan;
    border: 1px solid cyan;
    color: #3e3c3c;
}


@media screen and (max-width: 592px){
    .content-form{
        width: 300px;
    }

    .form-inputes input{
        width: 240px;
    }
}


@media screen and (max-width: 315px) {
    .content-form{
        width: 270px;
    }

    .form-inputes input{
        width: 230px;
    }
}